@{
  Layout = "Shared/_Layout.cshtml";
}


<div class="intro deep-orange lighten-2 z-depth-5">
  <h1 class="grey-text text-lighten-5">Palindrome Checker</h1>

</div>
<form action="/submit" method="post">
  <label for="input">Enter your Palindrome</label>
  <input type="text" name="input" id="input">
  <button type="submit" name="button" class="waves-effect waves-light btn-large">Submit</button>
</form>
