@{
  Layout = "Shared/_Layout.cshtml";
}


<h1>Success!  You entered a palindrome!</h1>
<h3 id="success"><span id="first">"@Model.GetInput()"</span> is the same as <span id="second">"@Model.Reverse()"</span></h3>
